#Data Structures Assignment


1. What are data structures, and why are they important ?
 - Data structures are ways of organizing and storing data in a computer so    that we can use it efficiently. They’re important because they make it easier  to manage data, improve performance, and solve problems faster.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable types can be changed after creation like lists and dictionaries, while immutable types cannot be changed like strings and tuples. For example, we can add items to a list, but once a tuple is made, its values cannot be altered.

3. What are the main differences between lists and tuples in Python ?
 - The main differences between lists and tuples is that Lists are mutable, slower, and written with square brackets [] ; whereas Tuples are immutable, faster, and written with parentheses ().

4. Describe how dictionaries store data.
 - Dictionaries store data as key–value pairs. Each key is unique, and it points to a specific value, making it easy to access data directly using the key. Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).

5. Why might you use a set instead of a list in Python ?
 - We use a set when we want only unique values without duplicates and when we don’t care about the order of elements.

6. What is a string in Python, and how is it different from a list ?
 - A string is a sequence of characters, while a list is a sequence of elements of any data types. Strings are immutable, but lists are mutable.

7. How do tuples ensure data integrity in Python ?
 - Since tuples are immutable, their values cannot be changed, which ensures that the stored data remains safe and consistent. Thus Tuples ensure data integrity in python.

8. What is a hash table, and how does it relate to dictionaries in Python ?
 - A hash table is a structure that maps keys to values using hash functions. Python dictionaries are built using hash tables, which makes lookups very fast.

9. Can lists contain different data types in Python ?
 - Yes, lists can hold elements of different types, like numbers, strings, and even other lists.

10. Explain why strings are immutable in Python.
 - Strings are immutable so that they are memory-efficient, safe from accidental changes, and can be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks ?
 - Dictionaries provide faster lookups using keys, while lists require searching through elements one by one. This makes dictionaries better for quick data retrieval.

12. Describe a scenario where using a tuple would be preferable over a list.
 - If we want to store fixed data like the coordinates of a point (x, y), using a tuple is better since the values should not change.

    Example:
     -  When storing fixed data like dates or coordinates.

In [ ]:
dob = (25, "March", 2000)
#or
coordinates = (2,4)

13. How do sets handle duplicate values in Python ?
 - Sets handle duplicate values in Python by automatically removing the duplicates , so that only unique values are stored.

14. How does the "in" keyword work differently for lists and dictionaries ?
 - In a list, "in" checks if a value exists in the list. In a dictionary, "in" checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
 - No, we cannot modify tuple elements because tuples are immutable, which means they cannot be changed once created.

16. What is a nested dictionary, and give an example of its use case ?
 - A nested dictionary is a dictionary inside another dictionary. It’s useful for storing structured data, like student records with subjects and marks.

    Example:

In [ ]:
students = {
    "101": {"name": "Riya", "marks": 85},
    "102": {"name": "Aman", "marks": 90}
}

17. Describe the time complexity of accessing elements in a dictionary ?
 - Accessing elements in a dictionary is generally O(1), meaning it’s very fast because it uses hashing.

18. In what situations are lists preferred over dictionaries ?
 - Lists are better when we care about the order of elements or when we just need a simple collection without key–value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval  ?
 - Dictionaries are considered unordered because keys are stored based on hashing, not in sequence. This means that we can’t rely on the order of elements when retrieving data.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - In a list, we retrieve data using an index (position), while in a dictionary, we retrieve data using a key.
    
    Example:

In [43]:
mylist = ["red", "blue", "green"]
mydict = {"r": "red", "b": "blue"}

print(mylist[0])     # by index
print(mydict["r"])   # by key

red
red

# Practical Questions

In [ ]:
#1. Write a code to create a string with your name and print it.
my_name= "Ashutosh"
print(my_name)

Ashutosh

In [2]:
#2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming.
text = "Python Programming"
print(text[:3])

Pyt

In [6]:
#4. Write a code to convert the string "hello" to uppercase.
s = "hello"
print(s.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"P
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
mylist = [1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
mylist = [1,2,3,4]
mylist.append(10)
print(mylist)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
mylist = [1,2,3,4,5]
mylist.remove(3)
print(mylist)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd').
mylist = ['a', 'b', 'c', 'd']
print(mylist[1])

b

In [16]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50).

mylist = [10, 20, 30, 40, 50]
mylist.reverse()
print(mylist)

[50, 40, 30, 20, 10]

In [17]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
mytuple = (100, 200, 300)
print(mytuple)

(100, 200, 300)

In [22]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
mytuple = ('red', 'green', 'blue', 'yellow')
print(mytuple[-2])

blue

In [42]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
mytuple = (10, 20, 5, 15)
print(min(mytuple))

5

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

In [24]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
mytuple = ("apple", "banana", "cherry")
print("kiwi" in mytuple)

False

In [25]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
myset = {'a', 'b', 'c'}
print(myset)

{'b', 'a', 'c'}

In [26]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
myset = {1, 2, 3, 4, 5}
myset.clear()
print(myset)

set()

In [27]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
myset = {1, 2, 3, 4}
myset.remove(4)
print(myset)

{1, 2, 3}

In [28]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [29]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4].
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [30]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
mydict = { "name" : "john" , "age": 22 , "city": "delhi"}
print(mydict)

{'name': 'john', 'age': 22, 'city': 'delhi'}

In [31]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
mydict = {'name': 'John', 'age': 25}
mydict["country"] = "USA"
print(mydict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
mydict = {'name': 'Alice', 'age': 30}
print(mydict["name"])

Alice

In [33]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
mydict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del mydict["age"]
print(mydict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
mydict = {'name': 'Alice', 'city': 'Paris'}
print("city" in mydict)

True

In [36]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
mylist = [1,2,3,4]
mytuple = (5,6,7,8)
mydict = {"name" : "john" , "age": 22 , "city": "delhi"}
print("List:",mylist)
print("Tuple:",mytuple)
print("Dictionary:",mydict)

List: [1, 2, 3, 4]
Tuple: (5, 6, 7, 8)
Dictionary: {'name': 'john', 'age': 22, 'city': 'delhi'}

In [38]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
mylist = random.sample(range(1, 101), 5)
mylist.sort()
print(mylist)

[17, 18, 37, 38, 95]

In [39]:
#28. Write a code to create a list with strings and print the element at the third index.
mylist = ["apple", "banana", "cherry", "date", "elderberry"]
print(mylist[2])

cherry

In [40]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [41]:
#30. Write a code to convert a list of strings into a set.
fruits = ["apple", "banana", "apple", "cherry"]
fruits_set = set(fruits)
print(fruits_set)

{'banana', 'cherry', 'apple'}